@font-face {
    font-family: 'Oswald';
    font-style: medium;
    font-weight: 500;
    src: url(../webfonts/Oswald-Medium.ttf) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    src: url(../webfonts/Roboto-Bold.ttf) format('woff2');
  }