a.nav-link:hover {
  color: white !important;
  text-decoration: cyan underline 2px wavy;
}
a.navbar-brand:hover {
  color: white !important;
}

.fa-laptop-medical {
  color: cyan;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.hero-text {
  position: absolute;
  color: white;
  z-index: 100;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.hero-text h1{
  font-family: 'Oswald', sans-serif;
  font-size: 6.4vh;
}

.hero-text p {
  font-family: 'Roboto', sans-serif;
  padding: 0.9vh 0px 4.3vh;
}

.hero-text a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  padding: 1.9vh 5.4vh
}

.hero-text a:hover {
  border: 1px solid cyan;
  background-color: cyan;
  transition: 1s;
}

.hero-carousel-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-1 {
  background-image: url(../hero1.jpg);
}

.hero-2 {
  background-image: url(../hero2.jpg);
}

.hero-3 {
  background-image: url(../hero3.jpg);
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}

.navbar-light .navbar-toggler-icon {
  border-color: cyan;
  background-color: cyan;
  color: cyan;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
  background-color: white;
}