a.nav-link:hover {
  color: white !important;
  text-decoration: cyan underline 2px wavy;
}
a.navbar-brand:hover {
  color: white !important;
}

.fa-laptop-medical {
  color: cyan;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link {
  color: white;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  z-index: 100;
  text-align: center;
} */

.hero-carousel-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-1 {
  background-image: url(../hero1.jpg);
}

.hero-2 {
  background-image: url(../hero2.jpg);
}

.hero-3 {
  background-image: url(../hero3.jpg);
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}